 <header class="intlink">

            <a href="/summary"><button>Get Summary</button></a>
            <a href="/quiz"><button>Generate Quiz</button></a>
            <button>Project Assistant</button>
</header>
