<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Robonotes</title>
        <link rel="stylesheet" href="/css/robonotes.css">
            <link rel="stylesheet" href="/css/footer.css">
            <link rel="icon" href="robonotesnewlogo2.png" type="image/png">
            <script src="../public/newserver.js"></script>
    </head>
    <body>
        <style>
        
        #sign{
            margin-left: 1000px;
            color: white;
            background: linear-gradient(to right, rgb(211, 79, 101), rgb(210, 17, 17));
        }
        #sign:active{
            background: white;
            background: linear-gradient(to right, rgb(45, 168, 210), rgb(57, 57, 219));
        }

        button{
            color: white;
        }

        </style>
       {{>header}}
        <header class="intlink">

            {{!-- <a href="/summary"><button>Get Summary</button></a> --}}
            <a href="/study"><button>Study Hub</button></a>
            <a href="/assistant"><button>Project Assistant</button></a>
        </header>
        {{!-- <button id="sign">Sign In</button> --}}

        {{>footer}}
    </body>
</html>