<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Robonotes</title>
        <link rel="icon" href="robonotesnewlogo2.png" type="image/png">
    </head>
    <style>
        body
        {
            background-color: #101010;
        }
        h1 {
            font-family: 'Roboto', sans-serif;
            background: linear-gradient(to right, rgb(45, 168, 210), rgb(217, 59, 85));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            display: flex;
            justify-content: center;
        }
    </style>
    <body>
        <h1>Generate Quiz</h1>
    </body>

    
</html>