<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Robonotes</title>
        <link rel="icon" href="robonotesnewlogo2.png" type="image/png">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>

        {{>header}}
        <div class="main-content">
        <h1 id="summary-head">Get Your Summary</h1>
        <div class="vid">
            <input type="text" name="video" class="vidLink" placeholder="paste video link here">
            
            <button class="generator">Generate</button>
        </div>
            
            <div class="postsum-butt">
            
            <button id="clipboard" hidden>Copy</button>
            <button id="clear" hidden>Clear</button>

            </div>
        
        
        <br>
        <textarea name="summary" cols="100" rows="25" id="generatedContent"></textarea>
        <script src="/summary.js"></script>
        </div>
            {{>footer}}
    </body>
            
    
    <style>
            @keyframes slideGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
    }
        body {
            background-color: #000000;
            color: white;
            font-family: 'Roboto', sans-serif;
        }

        .main-content{
            margin: 0; 
            padding: 0; 
            display: flex;
            flex-direction: column;
            align-items: center; 
            font-family: 'Roboto', sans-serif;
            color: white;
            background-color: #000000;
        }
        
        #summary-head {
            margin-top: 50px; /* Add margin to top */
            background: linear-gradient(to bottom right, rgb(217, 59, 85), rgb(45, 168, 210));
            background-clip: text;
            color: transparent;
            background-size: 200% 200%;
            animation: slideGradient 2.5s linear infinite;
        }
        
        .generator {
            border-radius: 20px;
            border: none;
            font-size: medium;
            font-family: 'Roboto', sans-serif;
            margin-left: 10px;
            width: 90px;
            height: 30px;
            background-color: rgb(45, 168, 210);
            color: white;
            
        }
        
        .generator:active{
            background: linear-gradient(to right, rgb(45, 168, 210), rgb(57, 57, 219));
            
        }
        
        #clipboard {
            border: none;
            border-radius: 20px;
            font-size: medium;
            font-family: 'Roboto', sans-serif;
            width: 70px;
            height: 30px;
            margin-right: 135px;
            margin-top: 20px;
            background: linear-gradient(to right, rgb(217, 59, 85), rgb(255, 47, 0));
            color: white;
        }

        #clipboard:hover {
            color: black;
        }

        #clipboard:active {
            color:black !important;
            background-color: indianred !important;
            background: indianred;
        }

        #clear {
            border: none;
            border-radius: 20px;
            width: 70px;
            height: 30px;
            color: white;
            background:rgb(45, 168, 210);
            font-size: medium;
            font-family: 'Roboto', sans-serif;
            margin-top: 20px;
            margin-right: 30px;
        }
        #clear:hover {
            color: black;
        }
        #clear:active {
            color: black;
            background: rgb(31, 117, 146);
        }

     
        
        
        .vid {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .vidLink {
            border: none;
            border-radius: 20px;
            width: 400px;
            height: 20px;
            outline: none;
        }
        
        #generatedContent {
            margin-top: 20px; /* Add margin to top */
            border: none;
            outline: none;
        }
    </style>
</html> 

