footer {
    width: 100%;
    padding: 10px 20px;
    color: #666;
    font-size: 0.875rem;
    text-align: left;
    margin-top: auto;
}

.me{
    text-decoration: none;
    /* margin-top: 635px; */
 }
 .me:visited{
    color: rgb(255, 255, 255);
 }