.homebutton {
    text-decoration: none;
}


.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    background-color: transparent; /* Set background color to transparent */
    display: inline-block; /* Make image appear next to h1 */
    vertical-align: middle; /* Align image vertically with text */
    margin-left: -25px;
    margin-top: -15px;
}

.typewriter {
    border-bottom: 1px solid pink;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    position: relative;
}


.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    position: relative;
}

.typewriter span:nth-child(1) {
    background: linear-gradient(to left, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

.typewriter span:nth-child(2) {
    background: linear-gradient(to right, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typewriter span:nth-child(3) {
    background: linear-gradient(to right, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typewriter span:nth-child(4) {
    background: linear-gradient(to right, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typewriter span:nth-child(5) {
    background: linear-gradient(to left, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typewriter span:nth-child(6) {
    background: linear-gradient(to left, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typewriter span:nth-child(7) {
    background: linear-gradient(to right, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typewriter span:nth-child(8) {
    background: linear-gradient(to right, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typewriter span:nth-child(9) {
    background: linear-gradient(to right, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.typewriter span:nth-child(10) {
    background: linear-gradient(to left, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.typewriter span:nth-child(11) {
    background: linear-gradient(to left, rgb(217, 59, 85), rgb(45, 168, 210));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}